#inputPanel {
	position: relative;
	margin: auto;
	width: 800px;
	height: 80px;
	border: 1px solid black;
	border-bottom: collapse;
	-webkit-user-select: none;
    user-select: none;
}

.inputBox {
	float: left;
	margin: 5px;
}

#age {
	width: 40px;
	height: 25px;
}

#address{
	width: 350px;
	height: 25px;
}

#name{
	width: 230px;
	height: 25px;
}

label {
	font-family: arial;
	font-size: 15px;
}

#add-btn {
	position: absolute;
	top: 22px;
	width: 100px;
	height: 33px;
}

input {
	font-family: arial;
	font-size: 16px;
}

#statusBar {
	position: relative;
	margin: auto;
	border: 1px solid black;
	border: 0px solid collapse;
	width: 800px;
	height: 0px;
}

#resultsPanel {
	position: relative;
	margin: auto;
	width: 800px;
	height: 400px;
	overflow: auto;
	border: 1px solid black;
	background-color: lightgray;
	-webkit-user-select: none;
    user-select: none;
}

.srC {
	width: 55px;
	height: 20px;
	-webkit-user-select: none;
    user-select: none;
}

.nameC {
	width: 325px;
	height: 20px;
	-webkit-user-select: none;
    user-select: none;
}

.ageC {
	width: 50px;
	height: 20px;
	-webkit-user-select: none;
    user-select: none;
}

.addressC {
	width: 320px;
	height: 20px;
	-webkit-user-select: none;
    user-select: none;
}

.remove-btn {
	width: 20px;
	height: 20px;
	cursor: pointer;
	color: red;
}

tr {
	border: 1px solid collpase yellow;
}

th {
	border: 1px solid collpase black;
}

.resultHeader {
	height: 25px;
	background-color: lightgray;
	color: black;
}

.resultRow {
	height: 30px;
	background-color: steelblue;
	color: white;
	font-size: 14px;
}

.resultCol {
	border: 0px solid black;
	color: white;
	font-family: arial;
	font-size: 14px;
	padding: 0px;
}

table {
	width: 800px;
}

span {
	color: white;
	text-decoration: underline;
}